
.fade-up {
  animation: fadeUp ease-in-out 1s forwards;
  animation-delay: 0.6s;
}

// .expand {
//   animation: expand linear .9s forwards;
//   animation-delay: 2s;
// }

.grow {
  animation: grow ease-in-out .9s forwards;
}

