.menu-dmd {
  .sub-menu li a {

    &:hover {
        @include for-size(desktop-hover) {
            color: white!important;
            background-color: $orange!important;
            transition: all .4s ease-in-out;
            }
        }
    }
}